    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Acerca de Epístolas de Zenón</h2>
                <p>Se trata de un proyecto venezolano que busca fundar un Think Tank anarquista que quiere romper algunas barreras. Perseguimos nuevos horizontes de libertad y mostrar nuevas posibilidades, incluyendo una nueva visión de mercado.</p>
                <p>Estado, jerarquía e imposiciones sociales... podemos cuestionar cada una de estas manifestaciones y ver cómo podemos hacer las cosas distintas si queremos derivar en un cambio desde la raíz</p>
                
                
            </div>
        </div>
    </section>
