    <!-- Download Section -->
    <section id="Blog" class="content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Blog «Acracia en la Tierra»</h2>
                    <p>Conoce nuestro blog dedicado a subir contenido sobre anarquismo desde el enfoque de nuestra asociación.</p>
                    <a href="https://epistolas-de-zenon.github.io/acracia-en-la-tierra/" class="btn btn-default btn-lg">Visita Acracia en la Tierra</a>
                </div>
            </div>
        </div>
    </section>
